<%
  layout('layouts/admin')
  const  listKegiatan  = pagination.results || []
  const ourl = url()
  ourl.searchParams.delete('page')

  const searchParam = '&' + ourl.searchParams.toString()
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-4">Profil Belanja OPD</h1>

      <form action="" id="filter-form">
      <div class="card mb-3">
        <div class="card-body">
                <div class="input-group">
                    <select name="id_org" id="nama_org" class="form-select">
                        <option value="">Pilih OPD...</option>
                        <% if(org){ %>
                        <option value="<%= org?.id_org %>" selected><%= org?.nama_org %></option>
                        <% } %>
                    </select>
                    <select name="id_tahapan" id="nama_tahapan" class="form-select" required>
                        <option value="">Pilih Tahapan...</option>
                        <% if(tahapan){ %>
                        <option value="<%= tahapan?.id %>" selected><%= tahapan?.nama %></option>
                        <% } %>
                    </select>
                    <!-- <button class="btn btn-primary">Saring</button> -->
                </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" value="<%=search %>" placeholder="Cari Kegiatan...">
                        <button class="btn btn-primary">Cari</button>
                    </div>
                </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Nama Kegiatan</th>
                <th>Total Anggaran</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% const startIndex = (pagination.currentPage - 1) * pagination.perPage; %>
              <% listKegiatan.forEach((kegiatan, i) => { %>
              <tr>
                <td><%= startIndex + i + 1 %></td>
                <td><%= kegiatan?.kode_kegiatan %></td>
                <td><%= kegiatan?.nama_kegiatan %></td>
                <td><%= kegiatan?.total_anggaran.toLocaleString('id-ID',{
                                                  style: 'currency',
                                                  currency: 'IDR'
                                                }) %>
              </td>
                <td>
                  <a href="/profil-belanja-opd/<%=org?.id_org%>/sub-kegiatan/<%= kegiatan?.id_kegiatan %>/<%= tahapan?.id %>" class="btn btn-warning">Detail</a>
                </td>
              </tr>
              <% }) %>
            </tbody>

          </table>

          <% if (pagination.total > pagination.perPage) { %>
          <nav>
            <ul class="pagination justify-content-end">
              <!-- Tombol Previous -->
              <li class="page-item <%= pagination.previousPage ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.previousPage + searchParam %>">Previous</a>
              </li>

              <!-- Nomor Halaman -->
              <% for (let i = 1; i <= pagination.lastPage; i++) { %>
              <li class="page-item <%= pagination.currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i + searchParam %>"><%= i %></a>
              </li>
              <% } %>

              <!-- Tombol Next -->
              <li class="page-item <%= pagination.hasMore ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.nextPage + searchParam %>">Next</a>
              </li>
            </ul>
          </nav>
          <% } %>

        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<script>
    const autoCompleteInput_org = new AutoCompleteInput({
        selectId: 'nama_org',
        apiUrl: 'http://localhost:8000/api/orgs?tahun_buku=<%= tahun_buku %>',
        debounceTime: 500,
        keyToBeValue: 'id_org',
        keyToDisplay: 'nama_org',
        keyToQuery: 'nama_org',
        onSelect:() => document.getElementById('filter-form').submit()
        
    });
    
    const autoCompleteInput_tahapan = new AutoCompleteInput({
        selectId: 'nama_tahapan',
        apiUrl: 'http://localhost:8000/api/tahapan?tahun_buku=<%= tahun_buku %>',
        debounceTime: 500,
        keyToDisplay: 'nama',
        keyToBeValue: 'id',
        keyToQuery: 'nama_tahapan',
        onSelect:() => document.getElementById('filter-form').submit()
    });
</script>