<%
  layout('layouts/admin')
  const  listSubkegiatan  = pagination.results || []
  const ourl = url()
  ourl.searchParams.delete('page')

  const searchParam = '&' + ourl.searchParams.toString()
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-4 text-truncate">Kegiatan: <%= kegiatan.nama_kegiatan %></h1>

      <table class="mb-3">
        <tr>
            <th>OPD</th>
            <td class="px-3">:</td>
            <td><%= org.nama_org %></td>
        </tr>
        <tr>
            <th>Tahun</th>
            <td class="px-3">:</td>
            <td><%= tahun_buku %></td>
        </tr>
        <tr>
            <th>Tahapan</th>
            <td class="px-3">:</td>
            <td><%= tahapan.nama %></td>
        </tr>
      </table>

      <form action="">
      <div class="card">
        <div class="card-body">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" value="<%=search %>" placeholder="Cari Subkegiatan...">
                        <button class="btn btn-primary">Cari</button>
                    </div>
                </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Nama Subkegiatan</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% const startIndex = (pagination.currentPage - 1) * pagination.perPage; %>
              <% listSubkegiatan.forEach((subkegiatan, i) => { %>
              <tr>
                <td><%= startIndex + i + 1 %></td>
                <td><%= subkegiatan.kode_subkegiatan %></td>
                <td><%= subkegiatan.nama_subkegiatan %></td>
                <td>
                    <a href="#" class="btn btn-warning">Detail</a>
                </td>
              </tr>
              <% }) %>
            </tbody>

          </table>

          <% if (pagination.total > pagination.perPage) { %>
          <nav>
            <ul class="pagination justify-content-end">
              <!-- Tombol Previous -->
              <li class="page-item <%= pagination.previousPage ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.previousPage + searchParam %>">Previous</a>
              </li>

              <!-- Nomor Halaman -->
              <% for (let i = 1; i <= pagination.lastPage; i++) { %>
              <li class="page-item <%= pagination.currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i + searchParam %>"><%= i %></a>
              </li>
              <% } %>

              <!-- Tombol Next -->
              <li class="page-item <%= pagination.hasMore ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.nextPage + searchParam %>">Next</a>
              </li>
            </ul>
          </nav>
          <% } %>

        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<script>
    const autoCompleteInput_org = new AutoCompleteInput({
        selectId: 'nama_org',
        apiUrl: 'http://localhost:8000/api/orgs?tahun_buku=<%= tahun_buku %>',
        debounceTime: 500,
        keyToBeValue: 'id_org',
        keyToDisplay: 'nama_org',
        keyToQuery: 'nama_org',
    });
    
    const autoCompleteInput_tahapan = new AutoCompleteInput({
        selectId: 'nama_tahapan',
        apiUrl: 'http://localhost:8000/api/tahapan?tahun_buku=<%= tahun_buku %>',
        debounceTime: 500,
        keyToDisplay: 'nama',
        keyToBeValue: 'id',
        keyToQuery: 'nama_tahapan',
    });
</script>