<%
  layout('layouts/admin')
  const  posts  = pagination.results
%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-4">My Posts</h1>
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <a href="/posts/create" class="btn btn-primary">New</a>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% const startIndex = (pagination.currentPage - 1) * pagination.perPage; %>
              <% posts.forEach((post, i) => { %>
              <tr>
                <td><%= startIndex + i + 1 %></td>
                <td><%= post.title %></td>
                <td><%= post.user.email %></td>
                <td><%= post.created_at %></td>
                <td>
                  <a href="/posts/edit/<%= post.id %>" class="btn btn-warning">Edit</a>
                  <a href="/posts/delete/<%= post.id %>" class="btn btn-danger" onclick="return confirm('The selected item will be deleted permanently. Are you sure?')">Delete</a>
                </td>
              </tr>
              <% }) %>
            </tbody>

          </table>

          <% if (pagination.total > pagination.perPage) { %>
          <nav>
            <ul class="pagination justify-content-end">
              <!-- Tombol Previous -->
              <li class="page-item <%= pagination.previousPage ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.previousPage %>">Previous</a>
              </li>

              <!-- Nomor Halaman -->
              <% for (let i = 1; i <= pagination.lastPage; i++) { %>
              <li class="page-item <%= pagination.currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>

              <!-- Tombol Next -->
              <li class="page-item <%= pagination.hasMore ? '' : 'disabled' %>">
                <a class="page-link" href="?page=<%= pagination.nextPage %>">Next</a>
              </li>
            </ul>
          </nav>
          <% } %>

        </div>
      </div>
    </div>
  </div>
</div>